<div class="fot" id="webly">
    <div class="f-lx" id="in-4">
        <div class="f-lx-pic"><img src="__PUBLIC__/templets/img/hsy.png"></div>
        <!--message-->
        <div class="f-lx-ly">
            <div class="fly-1"><span>温馨提示：请留下您的联系方式，我们将第一时间回复您</span>在线留言</div>
            <div class="fly-2">
                <form name="myform" action="{:U('Message/index')}" enctype="multipart/form-data" method="post" onSubmit="return(form_c());">
                    <input type="hidden" name="action" value="post" />
                    <input type="hidden" name="diyid" value="1" />
                    <input type="hidden" name="do" value="2" />
                    <div class="fly-d-1"><span>姓 名</span><input type="text" maxlength="255" class="upfile" name='name' id='name' value=""></div>
                    <div class="fly-d-2"><span>电 话</span><input type="text" maxlength="255" class="upfile" name='phone' id='tel' value="" onkeyup="ta(this)"
                                                                onBlur="sq(this)" maxlength="11"></div>
                    <div class="clear"></div>
                    <p>请在以下区域输入您的留言内容：</p>
                    <div class="fly-d-3"><textarea rows="5" name='message' id='neirong' maxlength="200"></textarea></div>
                    <div class="fly-d-4">
                        <!--<div class="fly-d-4-l"><input type="text" size=5>
           请输入验证码</div>-->
                        <div class="fly-d-4-r"><input type="submit" value="提交留言" name="submit1"></div>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" name="dede_fields" value="name,text;tel,text;neirong,multitext" />
                    <input type="hidden" name="dede_fieldshash" value="e589757065baefd1f010e5eb700ea940" />
                </form>
            </div>
        </div>
        <!--message-->
        <div class="clear"></div>
    </div>

    <div class="wb-flog"><img src="__PUBLIC__/templets/img/logo.png"></div>

    <div class="f-dh">
        <!--footer_nav-->
        <div class="f-dh-l">
            <volist name="channel" id="vo" key="k">
                <if condition="$k neq 1 AND $k neq 4 AND $k neq 7">
                    <div class="f-dd">
                        <p><a href="{:U($vo['link'],array('id'=>$vo['id'],'pid'=>$vo['pid']))}l" class="dh1a soa" idc="dh-1">{$vo.name}</a></p>
                        <ul>
                            <volist name="vo.child" id="voo">
                            <li><a href="{:U($voo['link'],array('id'=>$voo['id'],'pid'=>$voo['pid']))}">{$voo.name}</a></li>
                            </volist>
                        </ul>
                    </div>
                </if>
                </volist>

            <div class="f-dd">
                <p><a href="{:U('Join/index')}">合作加盟</a></p>
                <ul>
                    <li><a href="{:U('Join/index')}">美彤内衣</a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
        <!-- footer_nav -->

        <!-- footer_company -->
        <div class="f-dh-r">
            <span>{$info['company']}</span>
            <p>地址：{$info['addr']}</p>
            <p>服务热线：{$info['phone']}</p>
            <div class="db-2"><img src="__PUBLIC__/templets/img/db-1.png"></div>
            <div class="db-2"><img src="__PUBLIC__/templets/img/db-2.png"></div>
            <div class="clear"></div>
        </div>
        <!-- footer_company -->
        <div class="clear"></div>
    </div>
</div>

<div class="box padding-top40" style="background-image: url(__PUBLIC__/templets/img/f-bg.jpg)" ;>
    <div class="obj-cro unit-cro-big">
        <div class="content-rhead clearFix">
            <ul class="tags fl">
                <li class="active" data-notags="1" style="text-align:center;">
                    <span><font size="2">友情链接:</font></span>
                    <volist name="friendLink" id="vo">
                        <a href="{$vo.url}" target='_blank'>{$vo.title}</a>&nbsp;&nbsp;
                    </volist>

                </li>
            </ul>
        </div>
    </div>
    <div class="content-cooperationmain" style="Padding:10px 23% 50px 23%; background-image: url(__PUBLIC__/templets/img/f-bg.jpg);"></div>
</div>

<div class="clearfix"></div>
<div class="web-ft">{$Think.CONFIG.footer}  {$Think.CONFIG.footer-address}</div>
<div class="som-fot">
    <a href="tel:400 600 8888" class="fly" rel="nofollow"><span class="icon-phone"></span>400电话</a>
    <a href="javascript:void(0)" class="zxly"><span class="icon-keyboard"></span>咨询留言</a>
    <a href="{:U('Contact/index',array('pid'=>$info['sid']))}" target='blank'><span class="icon-location"></span>联系我们</a>
    <div class="clear"></div>
</div>
<div class="sn-50"></div>